@import url('https://fonts.googleapis.com/css2?family=philosopher:wght@700&family=poppins:wght@300;400;500&display=swap');

/* some general things*/
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.2s linear;
    text-transform: capitalize;
    font-family: "poppins", sans-serif ;
    
    
}

/* the body under the header*/
body {
    /*font-family: sans-serif;
    margin: 0;
    padding: 0;*/
    color: #fff;
    background: #000000;
   
    
    
}

/* .btn for (sign in) button*/
.btn{
    margin-top: 2rem;
    width: 150px;
    padding: 12px;
    color: #fff;
    background-color: tomato;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* in the button*/
.btn:hover{
background-color: rgba( 212, 48,48,0.76);
transition: 0.4s;
}


/*header*/
.header{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    background: #000;
    padding: 1.5rem 2%;
    display: flex;
    color: #fff;
    justify-content: space-between;
    
}

/* to apply some changes in logo, not sure that it's right */
.header .logo{
    font-size: 22px;
    font-weight: bolder;
    color: #fff;
    padding-right: 10px;
    margin-right: 20rem;

}

/*also this not sure is right or going to be used */
.header .logo i{
    color: #fff;
    padding: 0.5rem;
}

/* color of links
a{
    color: #;
}
*/

/* for the links in the header (navagation bar)*/
.header .navbar a{
font-size: 1.1rem;
margin: 0 1rem;
color: #446cee;
}

/* for when touching a link it turns to this color */
.header .navbar a:hover{
    color: #baa6cf;
}

/* for border of bottun of (sign in)*/
.header .navbar .btn{
    background: transparent;
    color: tomato;
    border: 1px solid tomato;
    font-size: 17px;
    padding: 8px;
}

/* home section*/
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}
section{
    padding: 50px 0 50px 0;
}

.home{
    display: flex;

}
.home .max-width{
    width: 100%;
    display: flex;
}
.home .home-content{
    width: 50%;
    padding: 2rem;
}

.home h3{
    color: #fff;
    margin-top: 6rem;
    font-size: 5rem;
    font-family: 'Philosofer', sans-serif;
}

.home p{
    color: rgp( 194, 191, 191);
    margin-top: 1rem;
    font-size: 12px;
}

.home .home-image{
    width: 50%;
}

.home .home-content img{
width: 100%;
height: 100%;
}

/* chatGPT generated*/
header h1 {
    font-size: 2em;
    margin: 0;
}

/* chatGPT */
nav ul {
    color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* chatGPT*/
nav li {
    display: inline-block;
    margin-right: 20
    color=#fff

}

footer{
    /*background-color: #444954;*/
    background-color: #525252;
    color:#000000;
    font-size: small;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #b8b8b8;
    
}
.mail {
    color: #bebdbd;
}

/* sign in page */

.sign-in {
    background-color: rgba(43, 43, 43, 0.7); /* 50% transparent black */
    padding-bottom: 50px;
    border-radius: 5px;
    text-align: center;
    
    
    
  }

  .sign-in .form-group{
    color: rgb(173, 175, 173);
    
  }
  input{
    align-items: left;
    border-width: 10px;
    border-radius: 5px;
    border-color:blue;
    display: fixed;
  }

#burning-text {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow:
      0 0 10px rgb(119, 153, 255),
      0 0 20px rgb(68, 155, 255),
      0 0 30px rgb(17, 84, 255);
   /* animation: burning 1s linear infinite;*/
  }
  
  @keyframes burning {
    0% {
      text-shadow:
        0 0 10px rgb(119, 173, 255),
        0 0 20px rgb(68, 121, 255),
        0 0 30px rgb(17, 128, 255);
    }
   /* 50% {
      text-shadow:
        0 0 5px #f77,
        0 0 10px #f44,
        0 0 15px #f11;
    }*/
    100% {
      text-shadow:
        0 0 2px rgb(10, 10, 10),
        0 0 5px rgb(7, 7, 7),
        0 0 7px rgb(8, 8, 8);
    }
  }
